@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0; padding: 0;}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.my-custom-bg {
  background-color: #0f172a;
}

#left-side-container{
  position: sticky;
  top: 0;
}

.custom-font{ font-family: "Poppins";}

.left-side{color: #c9d5ed;}

.details > h1 > a{color: #c9d5ed;font-weight: 700;font-size: 50px;}

.one-line-intro{
  color: #64748B;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
}


.nav-links > ul > li > a{
  color: #64748B;
  font-size: 13px;
  letter-spacing: 1px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.nav-links span{ 
  width: 30px;
  height: 2px;
  border-radius: 50px;
  background-color: #64748B;
  transition: .2s linear;
  margin-right: 10px;}

.nav-links > ul > li > a:hover{color: #c9d5ed;}

.nav-links > ul > li > a:hover > span { 
  width: 60px;
  background-color: #c9d5ed;
}

.social-links{margin-top: 48px;}
.social-links > li > a {color: #64748B;}
.social-links > li:hover > a {color: #c9d5ed;}


#right-side-container{font-family: "Poppins";}

.main-content{color: #94A3B8;}

#right-side-container > section > span{
  letter-spacing: 2px;
  color: #c9d5ed;
  font-weight: 600; 
  font-size: 16px;
}


#right-side-container > #about > p{
  width: 600px;
  line-height: 1.8;
  font-weight:400;
  font-size:16px;
}

#projects{width: 600px;}

/* #projects a:hover {color: #59c5b8;} */

#projects .project-container > img{
  width: 150px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #232f49;
  border-radius: 5px;
}

#projects .project-container:hover > img {border: 2px solid #717e91;}

#projects .project-container:hover {
  background: rgba(255, 255, 255, 0.04); 
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 700px;
  transition: 0.01s linear;
}

#projects .project-container .project-info > a {color: #c9d5ed; font-weight: 600;} 

#projects .project-container .project-info:hover > a {color: #59c5b8;}

#projects .project-container .project-info:hover > a > i{
  /* color: #59c5b8; */
  transform: translateY(-1px);
  transition: transform 0.3s ease;
}


#projects .project-container p{
  margin-top: 10px;
  font-family: Poppins;
  line-height: 1.5;
  color: #717e91;
  font-weight:500;
  font-size:14px;
}

#projects div input{
  color: rgb(94, 234, 212);
  background-color: #112b39;
  border: none;
  font-weight: 500;
  margin-top: 12px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Inter";
}

#projects .resume-link > a{color: #c9d5ed;}

#projects .resume-link:hover > a {color: rgb(94, 234, 212);}

#education div p{font-size: 18px;}

.certification > span{
  letter-spacing: 2px;
  color: #c9d5ed;
  font-weight: 600; 
  font-size: 16px;
}

.footer{
  color: #64748B;
  font-size: 14px;
}